<div id="<%= dom_id power_supply %>">
  <p>
    <strong>Model:</strong>
    <%= power_supply.model %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= power_supply.price %>
  </p>

  <p>
    <strong>Atx version:</strong>
    <%= power_supply.atx_version %>
  </p>

  <p>
    <strong>Form factor:</strong>
    <%= power_supply.form_factor %>
  </p>

  <p>
    <strong>Wattage:</strong>
    <%= power_supply.wattage %>
  </p>

  <p>
    <strong>Avg efficiency:</strong>
    <%= power_supply.avg_efficiency %>
  </p>

  <p>
    <strong>Avg efficiency 5vsb:</strong>
    <%= power_supply.avg_efficiency_5vsb %>
  </p>

  <p>
    <strong>Vampire power:</strong>
    <%= power_supply.vampire_power %>
  </p>

  <p>
    <strong>Avg pf:</strong>
    <%= power_supply.avg_pf %>
  </p>

  <p>
    <strong>Avg noise:</strong>
    <%= power_supply.avg_noise %>
  </p>

  <p>
    <strong>Efficiency rating:</strong>
    <%= power_supply.efficiency_rating %>
  </p>

  <p>
    <strong>Noise rating:</strong>
    <%= power_supply.noise_rating %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= power_supply.release_date %>
  </p>

</div>
