<tr id="<%= dom_id power_supply %>" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%=
      link_to power_supply.manufacturer,
        reprocess_power_supplies_path(manufacturer: power_supply.manufacturer),
        data: { turbo: false }
    %>
  </th>
  <td class="px-6 py-4">
    <%= power_supply.model %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.price %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.atx_version %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.form_factor %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.wattage %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.avg_efficiency %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.avg_efficiency_5vsb %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.vampire_power %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.avg_pf %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.avg_noise %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.efficiency_rating %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.noise_rating %>
  </td>
  <td class="px-6 py-4">
    <%= power_supply.release_date %>
  </td>
  <td class="px-6 py-4">
    <%= link_to "Edit", edit_power_supply_path(power_supply) %>
  </td>
  <td class="px-1 py-1">
    <%=
      button_to "Del", power_supply,
        method: :delete, confirm: true, data: { turbo_confirm: "Are you sure?" }
      # class:  'text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-1 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900'
    %>
  </td>
</tr>
