<div class="container" style="margin-left: 0.7rem; display: flex; flex-direction: column">
  <p style="color: green"><%= notice %></p>
  <div class="zzzbg-gray-800">
    <h1><%= link_to 'Power supplies', power_supplies_path %></h1>
  </div>
  <%= turbo_frame_tag "power_supplies" do %>
    <div>
      <table class="w-full text-xs left-0 text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            Brand
          </th>
          <%= sortable_table_header 'Model', :model, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'Price', :price, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'ATX', :atx_version, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'Form factor', :form_factor, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'Wattage', :wattage, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'Avg efficiency', :avg_efficiency, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'Avg efficiency 5vsb', :avg_efficiency_5vsb, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'Vampire power', :vampire_power, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'Avg pf', :avg_pf, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'Avg noise', :avg_noise, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'Efficiency rating', :efficiency_rating, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'Noise rating', :noise_rating, :power_supplies_path, class: 'px-6 py-3' %>
          <%= sortable_table_header 'Release date', :release_date, :power_supplies_path, class: 'px-6 py-3' %>
          <th scope="col" class="px-6 py-3">
            E
          </th>
          <th scope="col" class="px-6 py-3">
            D
          </th>
        </tr>
        <tr data-controller="psu" class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
          <%= form_for("filters", id: "psu_form", method: "GET", action: "/power_supplies", class: "text-xs px-6 py-3") do |form| %>
            <th scope="row" class="text-xs px-5">
              <%= psu_select(form, :manufacturer) %>
            </th>
            <th colspan="2"></th>
            <th>
              <%= psu_select(form, :atx_version) %>
            </th>
            <th colspan="7"></th>
            <th>
              <%= psu_select(form, :efficiency_rating) %>
            </th>
            <th colspan="4">
            </th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @power_supplies.each do |power_supply| %>
          <%= render partial: "psu_table", object: power_supply, as: :power_supply %>
        <% end %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="px-6 py-4">
            Total
          </td>
          <td colspan="15" class="px-6 py-4">
            <%= PowerSupply.count %> PSUS
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <div class="flow-root">
    <%= link_to "New power supply", new_power_supply_path %>
    <%= link_to "Reprocess PSUs", reprocess_power_supplies_path, data: { turbo: false } %>
  </div>
</div>
